{% extends 'base_template.html' %}

{% block title %}
    License Information
{% endblock title %}


{% block content %}

    <div class="container">
        <h2>License Information</h2>
        <p>All images in this site are under the Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) License.</p>

        <br>
        <h4>You are free to:</h4>
        <p>Share — copy and redistribute the material in any medium or format</p>
        <p>Adapt — remix, transform, and build upon the material for any purpose, even commercially.</p>
        <br>
        <h4>Under the following terms:</h4>
        <p>Attribution — You must give appropriate credit, provide a link to the license, and indicate if
            changes were made. You may do so in any reasonable manner, but not in any way that suggests
            the licensor endorses you or your use.</p>
        <p>ShareAlike — If you remix, transform, or build upon the material, you must distribute your
            contributions under the same license as the original.</p>
        <br>
        <br>
        <p>You can find detailed license information at <a href="http://creativecommons.org/licenses/by-sa/3.0/">
            Creative Commons.</a></p>

    </div>
{% endblock content %}


