{% extends 'base_template.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Upload Image
{% endblock title %}


{% block content %}
<div class="container">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Upload an Image!</h2>
            </div>
            <div class="panel-body">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
